html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.img-as-background {
  background-image: url('../images/main/main.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-container {
  float: left;
}

.header-text-containers {
  position: absolute;
  top: 2vw;
  width: 100%;
}

.text-container-header {
  border-right: 1px solid white;
  width: 20vw;
}

.text-container-subheader {
  margin-left: 2vw;
  margin-top: 1vw;
}

h1.header {
  font-size: 5vw;
  color: white;
  font-family: 'Indie Flower';
  text-align: center;
}

p.subheader {
  font-size: 3vw;
  color: white;
  font-family: 'Indie Flower';
  text-align: left;
}

.footer-contact-containers {
  position: absolute;
  bottom: 4vw;
  left: 2vw;
  width: 100%;
}

.contact-container {
  float: left;
  width: 7.5vw;
  margin-right: 2vw;
}

.contact-container-youtube {
  width: 11vw;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .img-as-background {
    background-image: url('../images/main/main-1000.jpeg');
  }
}

@media (max-width: 600px) {
  .img-as-background {
    background-image: url('../images/main/main-600.jpeg');
  }
  .text-container {
    float: none;
  }
  .text-container-header {
    border-right: 0;
    width: 100%;
  }
  .text-container-subheader {
    margin-left: 3vw;
  }
  h1.header {
    font-size: 15vw;
  }
  p.subheader {
    font-size: 5vw;
    width: calc(100% / 3.1);
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  .footer-contact-containers {
    width: 100%;
    text-align: center;
  }
  .contact-container {
    width: calc(100% / 4.2);
    display: inline-block;
    vertical-align: center;
    text-align: center;
    margin-right: 5vw;
  }
  .contact-container-youtube {
    margin-right: 2vw;
    margin-left: 2vw;
    width: 33%;
  }
}
